@font-face {
  font-family: "Roboto";
  src: url(./fonts/Roboto/Roboto-Light.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", "Times New Roman", Times, serif;
}

/* container for the whole page */
.container {
  display: grid;
  grid-template-rows: 310px 1fr;
  min-height: 100vh;
  background-color: goldenrod;
}

.header-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 250px;

  padding: 30px;
  margin: auto;
  max-width: 1000px;
}

.header-section__library-image {
  grid-column: 2/3;
}

.header-section__book-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.header-section__book-info > h1 {
  font-style: italic;
  text-shadow: 2px 2px 10px purple;
  margin-bottom: 10px;
}

.js-remove-all {
  margin: auto;
  padding: 10px 20px;
  font-size: 1.3rem;
}

.js-popup-form,
form {
  border-radius: 10px;
}

.js-remove-all,
.js-add-book-btn,
form > button {
  display: block;
  border-radius: 10px;
  border: 2px purple solid;
}

button,
input {
  cursor: pointer;
}

.js-remove-all:hover,
form > button:hover {
  color: red;
  background-color: gainsboro;
}

/* 2. Bottom section */
.js-display-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;

  padding: 30px 120px;
  width: 100%;
  font-size: 1.5rem;
  font-weight: bold;
}

.js-add-book-btn {
  width: 80px;
  height: 80px;
  background-color: green;
  color: white;

  font-size: 4rem;
  font-weight: bold;
  border-radius: 50%;

  position: fixed;
  right: 50px;
  bottom: 100px;
  z-index: 3;
  box-shadow: 0 0 20px white;
}

.js-add-book-btn:hover {
  background-color: white;
  border: 2px solid lime;
  color: lime;
}

.js-popup-form {
  display: none;
  border: 5px solid purple;
  background-color: purple;

  position: fixed;
  right: 50px;
  bottom: 200px;
  z-index: 3;
}

.js-popup-form__title-input,
.js-popup-form__author-input,
.js-popup-form__pages-input {
  display: grid;
  grid-template-columns: 80px 1fr;
  gap: 20px;
}

form {
  display: grid;
  grid-template-rows: repeat(5, 40px);
  gap: 20px;

  padding: 20px;
  width: 340px;
  background-color: skyblue;
}

form input[type="text"],
input[type="number"] {
  width: 200px;
  line-height: 20px;
  padding: 3px 8px;

  appearance: none;
  border-radius: 12px;
  border: none;

  font-family: inherit;
  font-size: 1rem;
  font-style: italic;
}

form input[type="text"]:focus,
input[type="number"]:focus {
  border: 2px solid purple;
  outline: none;
}

form label {
  font-size: 1.2rem;
  font-weight: bold;
}

form > button {
  margin: auto;
  padding: 10px 50px;
  font-size: 1rem;
}

.js-popup-form__status-input > label:first-child {
  margin-right: 30px;
}

.js-popup_form__status-input input {
  width: 15px;
  height: 15px;
}

/* card creation */
.book {
  width: 250px;
  height: 300px;
  padding: 15px;
  text-align: center;

  border-radius: 10px;
  border: 2px purple solid;
  position: relative;
}

.book > p:first-child {
  margin: 10px 45px 40px 0;
  overflow-wrap: break-word;
}

.unread {
  background-color: pink;
}

.read {
  background-color: springgreen;
}

.btn-rmv-card {
  position: absolute;
  top: 10px;
  right: 10px;

  padding: 10px 20px;
  color: white;
  font-size: 1.3rem;

  border: none;
  border-radius: 20px;
  background-color: red;
}

.btn-rmv-card:hover {
  background-color: white;
  color: red;
}

.btn-card {
  padding: 10px 20px;
  border-radius: 10px;
  border: none;

  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  margin: 15px;
}

.read .btn-card {
  background-color: darkolivegreen;
}

.unread .btn-card {
  background-color: palevioletred;
}

.unread .btn-card:hover,
.read .btn-card:hover {
  color: palevioletred;
  background-color: white;
}

.read .btn-card:hover {
  color: darkolivegreen;
}

#footer {
  padding: 15px;
  background-color: black;
  text-align: center;
}

#footer a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

#footer a:hover {
  color: red;
  text-decoration: underline;
}

::selection {
  background-color: purple;
}

@media (max-width: 768px) {
  .js-display-section {
    justify-items: center;
    gap: 40px;
  }
}

@media (max-width: 600px) {
  .container {
    display: flex;
    flex-direction: column;
  }

  .header-section {
    display: flex;
    flex-direction: column;
  }

  .header-section__library-image {
    order: 1;
    margin-bottom: 10px;
  }

  .header-section__library-image > img {
    width: 250px;
    height: 200px;
  }

  .header-section__book-info {
    order: 2;
  }

  .js-display-section {
    padding: 30px;
  }

  form {
    width: 250px;
  }

  form input[type="text"],
  input[type="number"] {
    width: 120px;
  }

  .js-popup-form__status-input > label:first-child {
    margin-right: 0;
  }
}
